table {
	width: 100%;
}

table th {
	background-color: black;
	color: white;
}

table tr:nth-child(odd) td {
	background-color: orange;
}

table tr:nth-child(even) td {
	background-color: yellow;
}

table tr.selected-thema td {
	background-color: red;
	color: white;
}

table tr.selected-diskussion td {
	background-color: red;
	color: white;
}

table tr.selected-user td {
	background-color: red;
	color: white;
}

div.beitrag {
	margin-bottom: 20px;
	background-color: yellow;
}

div.beitrag.selected-beitrag {
	background-color: red;
	color: white;
}

div.beitrag div.beitrags-kopf {
	border-bottom: 1px solid grey;
	padding: 5px;
	background: lightgrey;
	color: black;
}

div.beitrag div.beitrags-body {
	padding: 10px;
}

p.break {
	padding: 0;
	margin: 0;
}

p.error {
	color: #AA3333;
}